---
import anclaImage from "../assets/images/products/ancla.webp";
import clean from "../assets/images/products/clean.webp";
import extintor from "../assets/images/products/extintor.webp";
import motorImage from "../assets/images/products/motor.webp";
import mueblesImage from "../assets/images/products/muebles.webp";
import sonar from "../assets/images/products/sonar.webp";
import tools from "../assets/images/products/tools.webp";
import vela from "../assets/images/products/vela.webp";
import volante from "../assets/images/products/volante.webp";
---

<h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Catálogo de productos</h5>
<div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
  <button
    type="button"
    class="text-gray-900 border border-white dark:bg-[#003366] dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >All categories</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white dark:bg-[#003366] dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Motores</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white dark:bg-[#003366] dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Bags</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white dark:bg-[#003366] dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Electronics</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white dark:bg-[#003366] dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Ofertas</button
  >
</div>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
    <img class="h-auto max-w-full rounded-lg" src={mueblesImage.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={anclaImage.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={motorImage.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={clean.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={volante.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={tools.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={extintor.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={vela.src} alt="" />
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src={sonar.src} alt="" />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg"
      alt=""
    />
  </div>
</div>
